@import '@scss/variables';
@import '@scss/mixins';


.loader_Container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: $secondary;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  &.hide{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.svg_container{
  width: min(75vw, rem(500px));
  position: relative;
  isolation: isolate;
  aspect-ratio: 937/989;
  &.show{
    .loader_Svg{
      .st0,.st1{
        stroke-dashoffset: 0;
        fill: $primary;
        stroke: transparent;
      }
    }
    .youth_Sec,
    .temple_Sec,
    .text_Sec{
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }
}

.loader_Svg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.st0,.st1{
  fill: $primary;
}
.st1{
  fill-rule:evenodd;
  clip-rule:evenodd
}

.text_Sec{
  transform: scale(1.125) translate(0, -200%);
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 2s 2.5s cubic-bezier(0.76, 0, 0.24, 1);
  .st0{
    fill: transparent;
    stroke: $primary;
    stroke-width: 0.5;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: all 1.75s cubic-bezier(0.37, 0, 0.63, 1),
                fill 2s 1.75s ease,
                stroke 2s 1.5s ease;
  }
}

.youth_Sec,
.temple_Sec{
  transform-box: fill-box;
  transform-origin: center bottom;
  opacity: 0;
  transform: scale(.4) translate(0, 20%);
  transition: opacity 2s 3.5s ease, transform 2s 3s cubic-bezier(0.25, 1, 0.5, 1);
}
