.container {
  width: min(100% - 3rem, rem(1280px));
  margin-inline: auto;
  position: relative;
}

.no-smooth-scroll {
  scroll-behavior: auto;
}

.container_Fluid {
  width: min(100% - 3rem, 110rem);
}
