@import '../../resources/scss/variables';
@import '../../resources/scss/mixins';

.about_Section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.about_Columns{
  // display: flex;
  align-items: center;
}


.about_Content{
  padding: 0 5rem 5rem;
  flex: 1;
}


.about_Image_Contain{
  width: 50%;
  opacity: 0;
  filter: blur(10px) brightness(2);
  transition: all 1s ease-out;
  &.active{
    opacity: 1;
    filter:blur(0) brightness(1);
  }
}


.about_Image{
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: calc(1830/1610);
}
