@import '../../resources/scss/variables';
@import '../../resources/scss/mixins';

.count_Para{
  font-size: $h4;
  text-align: center;
  width: 100%;
}

.count_Btn{
  width: auto;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.3em 0.5em;
  border: 1px solid $text;
  border-radius: 5px;
  background: $text;
  color: $white;
  transition: all 0.6s ease;
  &:hover{
    background: $white;
    color: $text;
  }
}

.confetti_Canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
