@import '@scss/variables';
@import '@scss/mixins';

.about_Section{
  padding: 5rem 2.5rem 2.5rem;
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
  align-items: center;
  @include MQ(1023px){
    display: block;
  }
}

.about_Content{
  width: 50%;
  margin-inline: auto;
  @include MQ(1023px){
    width: 100%;
  }
}

.about_Title{
  text-align: center;
  margin: 0 0 0.5em;
}

.about_Image{
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: calc(1830/1610);
}

.about_Upasana_Contain{
  width: 50%;
  display: block;
  margin-bottom: -4rem;
  opacity: 0;
  filter: blur(10px);
  transition: filter 0.6s ease-out, opacity 0.6s ease-out;
  &.active{
    opacity: 1;
    filter: none;
  }
  @include MQ(1023px){
    width: 100%;
  }
}

.swamiji_Image,
.upasana_Img{
  display: block;
  // width: max(60%, rem(200px));
  width: 100%;
  height: auto;
  margin-inline: auto;
}

.swamiji_Image{
  margin-top: -22%;
  // width: max(50%, rem(200px));
  width: 100%;
}
