@import '@scss/variables';
@import '@scss/mixins';


.gallery_Section{
  padding: 5rem 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.hash_Tags{
  color: rgba($primary,0.6);
  font-family: $font-primary;
  span{
    display: block;
    &:nth-child(2),
    &:nth-child(4){
      padding-left: 5rem;
    }
  }
}

.img_Collage{
  display: block;
  width: 40%;
}

.img_Wrapper {
  display: block;
  overflow: hidden;
  width: 50%;
  flex: 0 auto;
  border-radius: 0.5rem;
}

.img_Row{
  display: flex;
  gap: 1rem;
  &:first-child{
    align-items: flex-end;
  }
  &:last-child{
    margin-top: 1rem;
    align-items: flex-start;
  }
}

.img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transform-origin: center top;
}
